node_modules/
.idea
*.iml
*.log
.DS_Store
.vscode
.cache
coverage

*-*.tgz
package.tgz

dist
types

.env

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
